.body{
    background-color: #FAF9F6;
}

.jumbotron{

    color: blue;
   align-items:left;
   position: relative;

}

.start-button{

    align-items: center;
    position: relative;
}

h1, .answers, .questions{

    color:black;
}


.results{
    
    color:green;


}

.resets{


}

.timer{


}