:root{ 

    --quizDisplay: flex;
    --quizText:    center;
    --quizPosition: relative;
    }
    
.body{
    background-color: #FAF9F6;
}


.info{ /*will be used to center info elements but not style them*/
        flex-flow: row wrap;
        position: relative;
        text-align: center;
        margin-top: 20px;



}


.quizTitle{ /*will apply to all h1*/

    /*display: var(--quizDisplay);
    position: var(--quizPosition);
    align-self: (var(--quizText));*/
    
        
        font-size: large;
        flex-flow: row wrap;
        position: relative;
        text-align: center;
        background-color: none;
        
    
    
        
    }


.Highscores{
    text-align: left;

}

 .startBtn{ /*will add bg color to button, should center with info*/
    flex-direction: row;
    background: black;
    color: white; 
   justify-content: center;
   
}



.timer{ /*will add display properties with js?*/

/*move to right side in nav*/

}


.submitBtn{ /*mostly font change, no color added, will align w/ info */

background: white;
color: black;


}




.quiz{ /*will style everything within quiz, use items to style children*/
    text-align: center;
    
   


}



.question{ /*add boxes, bg- color, center text*/


}


.choices{/*add boxes, bg- color, center text*/
    list-style-type: none;


}
button{
    background: purple;
}

li{
    margin: 8px; 
    
    color:white; 

}

.end{/*will style score status & score submit button*/


}

.displayScore{/*will style current user score*/


}




.submit{ /*will style submitBtn*/



}




.storedScores{ /*will style all previous highscores as OL w/ LI*/


}